
<!-- side navbar -->
    <div id="mySidenav" class="sidenav">
        <a href="#" id="closeBtn" class="closebtn">&times;</a>
        <br>
        <br>
            <center><img id="mainImage" class="responsive-img circle" src="/images/image2.jpg"></center>
        <br>
        <br>
            <a href="#"><i class="material-icons small" id="menuIcon">computer</i>     deV</a>
            <a href="#"><i class="material-icons small" id="menuIcon">gavel</i>     Law</a>
            <a href="#"><i class="material-icons small" id="menuIcon">grade</i>     Projects</a>
            <a href="#"><i class="material-icons small" id="menuIcon">lightbulb_outline</i>     Blog</a>
            <a href="#"><i class="material-icons small" id="menuIcon">send</i>     Contact</a>
      
    </div>


