
<!-- side navbar -->

    <div class="nav-wrapper">

      <ul class="side-nav" id="mobile-demo">
     
      <br>
      <br>
        <!-- picture in the sidebar -->
            <center>
                <img id="mainImage" class="responsive-img circle" src="/images/image2.jpg">
                <p>Anil J. Patel</p>
            </center>

        <br>
        <br>
        <br> 
        <!-- footer for the sidebar -->
            <div class="row"> 
                <div class="col-sm-4" id="sideIcons">
                    <li><a href="/"><i class="material-icons " id="menuIcon">home</i>Home</a></li>  
                    <li><a href="/project"><i class="material-icons " id="menuIcon">computer</i>Projects</a></li>
                    <li><a href="/law"><i class="material-icons " id="menuIcon">gavel</i>Law</li></a>
                    <li><a href="/blog"><i class="material-icons " id="menuIcon">lightbulb_outline</i>Blog</a></li>
                    <li><a href="#"><i class="material-icons " id="menuIcon">send</i>Contact</a></li>
                </div>
            </div>
            
      </ul> 
    </div>

