<!-- Indlude the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>

    <!-- different backgrounds on each of the pages -->
    <style type="text/css">
        body {
            background: url("/images/290366-stars-road-desert.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>

    <!-- finish off the header with these two tags -->
    </head>

    <body>

        <!-- menu and social icons block -->
        <div class="row icons">

            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
                <i class="material-icons medium" id="menuIcon">menu</i>
            </a>

            <div class="col-sm-3" id="socialBar">
                <a href="https://github.com/ayjaypnil" target="_blank">
                    <img class="socialIcon" src="/images/GitHub-Mark-Light-32px.png">
                </a>
                <a href="https://linkedin.com/in/aniljaypatel" target="_blank">
                    <img class="socialIcon" src="/images/In-White-34px-TM.png">
                </a>
            </div>
        </div>
        <!-- end menu and social icons block -->

        <div class="col-sm-4">
            <!-- including navbar partials -->
            <%- include('partials/navbar') -%>
        </div>

        <!-- begin container -->
        <!-- <div class="container">



            <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>The Power Belongs to the Consumer</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">
                            <p class="left">
                                <em>May 2015</em>
                            </p>
                            <br>
                            <p>
                                <span class="cardWhatWhy">
                                    <strong></strong>
                                </span> insert the content here...</p>
                            <br>

                        </div>
                        <div class="card-action">
                            <p>
                                <span class="cardHowText">
                                    <center>Notes</center>
                                </span>
                                <ul>
                                    <li>
                                        [1] This essay was inspired by the customer support at Comcast.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->

        <!-- <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>How to be REALLY Good at Super Smash - N64</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">
                            <p class="left">
                                <em>March 2013</em>
                            </p>
                            <br>
                            <p>
                                <span class="cardWhatWhy">
                                    <strong></strong>
                                </span> insert the content here...</p>
                            <br>

                        </div>
                        <div class="card-action">
                            <p>
                                <span class="cardHowText">
                                    <center>Notes</center>
                                </span>
                                <ul>
                                    <li>
                                        [1] hit boxes and edges.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->



        <!-- container end -->
        <!-- </div> -->



        <!-- Include the Partial for the bottom finishing the html -->
        <%- include('partials/bottom') -%>