<!-- Indlude the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>

    <!-- different backgrounds on each of the pages -->
    <style type="text/css">
        body {
            background: url("/images/290366-stars-road-desert.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }

        .collapsible-header,
        .collapsible-body {
            background: rgba(0, 0, 0, 0.084);
            color: white;
        }
    </style>

    <!-- finish off the header with these two tags -->
    </head>

    <body>

        <!-- menu and social icons block -->
        <div class="row icons">

            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
                <i class="material-icons medium" id="menuIcon">menu</i>
            </a>

            <div class="col-sm-3" id="socialBar">
                <a href="https://github.com/ayjaypnil" target="_blank">
                    <img class="socialIcon" src="/images/GitHub-Mark-Light-32px.png">
                </a>
                <a href="https://linkedin.com/in/aniljaypatel" target="_blank">
                    <img class="socialIcon" src="/images/In-White-34px-TM.png">
                </a>
            </div>
        </div>
        <!-- end menu and social icons block -->

        <div class="col-sm-4">
            <!-- including navbar partials -->
            <%- include('partials/navbar') -%>
        </div>

        <br>
        <br>
        <br>
        <div class="container white-text">
            I have moved my posts off of this site. Instead, please feel free to contact me if you are interested in talking about anything
            from sports and global business to world history or
            <em>A song of Ice and Fire</em>. Maybe in the near future I will share some of my mini-essays here again. Thanks.
        </div>
        <!-- <br>
        <br>
        <div class="container">

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <center>TIPS: How to be a super smash (n64) God.</center>
                    </div>
                    <div class="collapsible-body">
                        <span class="left">
                            <em>January 2013</em>
                        </span>
                        <p>We have all gone through the frustrations of playing this game, and being dominated. That is, until
                            you took matters into your on hands. The game is simple. Don't lose lives. You lose lives by
                            taking on damage or falling off of the map. So two things to avoid, falling off the map, and
                            avoid taking on damage from your opponents. We also know that it is 'cheap' to win without any
                            kills. So now the game becomes: don't take on damage, don't fall off the edge, and kill your
                            opponents.
                            <br>
                            <br>Before reading the three basic tips below, keep in mind that this is a video game. Imagine a
                            bunch of functions that are behind the scenes triggered by every input (your controller buttons).
                            The game is mechanical. Having said this, it can be hacked. Each character has attributes that
                            correspond to the input/output. For example, Pikachu is the most powerful character. Pikachu
                            has attack moves that reach the furthest 'hitboxes' away, and also has the smallest 'hitbox'
                            to be hit by opponents. Pikachu also has the most powerful up-B movement because it allows for
                            distance as well as unpredictability by opponents. DK for example has high health percentage,
                            a very powerful side-B move, but does not move box to box as fast as the other characters. Kirby
                            is extremely nimble and can get back on the map easily, but can also be sent off the map fairly
                            easily too. These are just a few examples, but with these examples, you can kind of see how there
                            is a competitive advantage to some of these characters.
                            <br>
                            <br>You should play with either Pika, Kirby, or Fox based upon how the game works on the back end.
                            <a target="_blank" href="https://gamefaqs.gamespot.com/n64/198854-super-smash-bros/faqs/55926">Here is a full report.</a>
                            <br>
                        </p>
                        <br>
                        <p>
                            <strong>Avoid falling off the edges.</strong>
                            <br> Just avoid playing near the edges. This is a simple concept. Unless you are exptremely skilled
                            at edge guarding, do NOT go near the edge of the map, or anywhere that can take you far off of
                            the screen. This exposes you to map elements such as the tornado or shooting rocket ship, however,
                            your oponents will have to deal with the same things if they pursue you. Instead, go back and
                            forth on the portions of the map located in the center two quarters.
                            <br>
                            <br>
                            <strong>Don't take on damage.</strong>
                            <br> You take on damage by being hit from your opponents attacks, items, and map elements. Avoid
                            all three of these. The best thing to do is move quickly in the middle two quarters of the map
                            while using the Z-roll button. Get REAL good at this. It is important to not take on damage because
                            after 100%, you are more and more likely to be sent off the map by an opponent's B-button attacks.
                            Roll and shield should be the most used buttons on your controller. Just keep ducking and diving
                            through the opponents attacks and map elements. You will find that a majority of opponents will
                            play aggressive, and then end up hurting themselves.
                            <br>
                            <br>
                            <strong>Kill your opponents.</strong>
                            <br> You can kill your opponents through attacking them while their damage is high, which sends them
                            off of the map, or, you can edge guard them. The latter is a great tool when you are forced to
                            use it, but it is not the best way to play against experienced players. This is because experienced
                            players know not to mess around near the edges. Instead, use items at a distance to drive your
                            opponents damage percentage up. ONLY when it is above 100% should you aggressively attack them
                            with your B-moves. Prior to then, let them inflict damages upon themselves, and simply keep your
                            distance using items and range attacks. When the damage is high, you can go after them and if
                            you land a good B move, they will either fly off the map or incur even heavier damages for the
                            next one you land.

                        </p>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        <center>Consumer is KING.</center>
                    </div>
                    <div class="collapsible-body">
                        <span class="left">
                            <em>March 2014</em>
                        </span>
                        <br>
                        <p>
                            I had a bit of a meltdown on my cable company. The company rhymes with "Lomcast." It really got me going. They over charged
                            our cable bill at Indiana University, and even charged us for months we never had service as
                            well as for services we never had. I disputed it for 3 months, and then settled on an amount
                            of $281, which we did not owe. They got us good. Even better- they sold the full amount of the
                            debt they said we owed to a debt collection company. For the next 6 months I was called non stop
                            about this. Showing payment receipts and email correspondence was never enough. They would acknowledge
                            that the (incorrectly charged) debt was settled, and then another company would continue on after
                            that. I really thought about why we even signed up for basic cable. We never used it. I never
                            signed up for cable again, and never will. I realized something very important.
                            <br>
                            <br> There was no way one 22 year old undergrad was going to hold this cable company accountable
                            for their actions. They simply were too big. Or so I thought. The entire lifeblood of a large
                            company is the revenue that they generate from whatver they specialize in. They get revenue through
                            transacting business. They transact business with consumers. Consumers are the ones that keep
                            companies like this powerful. If one day, every person in the world decided to cancel their contracts
                            and services with thsi particular cable company, then they would cease to generate revenues from
                            that particular part of their company. Sure, they are diversified well enough, however, this
                            would get them sweating. If consumers decided to all go with a competitor, now that competitor
                            has the capital and userbase to overtake that market.
                            <br>
                            <br> Will something like this ever happen? I am unsure, but if it is, it will be from my generation,
                            not our parents. They like the status quo, and it is a part of their life to accept that cable
                            is a bill you pay. It really isn't anymore. Internet is the only utility that matters. Electricity
                            can be generated by a generator, which puts you in control. But just for a second, it is interesting
                            to think about this. What if everyone canceled their Comcast services. Maybe they will change
                            some of their practices in order to get back their customers. Consuers have that type of power,
                            no matter how big the company is, or how small. Loyal consumers are the key to making and breaking
                            you.
                        </p>
                    </div>

                </li>

                <li>
                    <div class="collapsible-header">
                        <center>Learn ANY skill by breaking it down.</center>
                    </div>
                    <div class="collapsible-body">
                        <span class="left">
                            <em>Summer 2010</em>
                        </span>
                        <br>
                        <p>
                            Any skill you want to learn can be done through breaking the mechanics down and time. For example, if you want to learn how
                            to play golf, you need time. In that time, you need to watch those who do it well so you can
                            break down how they strike the ball. Then you must replicate each part of the process. Starting
                            with your feet, legs, hips, core, shoulders, arms, wrists, hands, and head. Each part of the
                            body must be on the same page and be working the right way. Once you master one part, you move
                            on to the next. Eventualy your entire body is replicating a good golf swing. The results come
                            after practicing this replication over large amounts of time. The better the replication the
                            less time needed. There are obviously many factors involved here, but this is the basic process.
                            I taught myself golf like this.
                        </p>
                    </div>
                </li>
            </ul>

        </div> -->

        <!-- Include the Partial for the bottom finishing the html -->
        <%- include('partials/bottom') -%>