<!-- Indlude the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>

    <!-- different backgrounds on each of the pages -->
    <style type="text/css">
        body {
            background: url("/images/stars.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>

    <!-- finish off the header with these two tags -->
    </head>

    <body>

        <!-- menu and social icons block -->
        <div class="row icons">

            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
                <i class="material-icons medium" id="menuIcon">menu</i>
            </a>

            <div class="col-sm-3" id="socialBar">
                <a href="https://github.com/ayjaypnil" target="_blank">
                    <img class="socialIcon" src="/images/GitHub-Mark-Light-32px.png">
                </a>
                <a href="https://linkedin.com/in/aniljaypatel" target="_blank">
                    <img class="socialIcon" src="/images/In-White-34px-TM.png">
                </a>
            </div>
        </div>
        <!-- end menu and social icons block -->

        <div class="col-sm-4">
            <!-- including navbar partials -->
            <%- include('partials/navbar') -%>
        </div>

        <!-- begin container -->
        <div class="container">

            <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>Spam Me, please.</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">

                            <br>
                            <p>
                                <div class="container">
                                    <br>
                                    <div class="col s12">
                                        <form action="https://formspree.io/ayjaypatel@gmail.com" method="POST">
                                            <div type="input-field">
                                                <input type="text" placeholder="What is your name?" name="name">
                                            </div>
                                            <div type="input-field">
                                                <input type="email" placeholder="What is your contact email?" name="_replyto">
                                            </div>

                                            <div type="input-field">

                                                <input type="text" placeholder="Please type your message here" name="message">
                                            </div>
                                            <center>
                                                <input class="btn modal-trigger" href="#modal1" type="submit" name="send" value="send">
                                                <input type="hidden" name="_next" value="http://www.aniljaypatel.com/" />
                                            </center>
                                            <br>
                                        </form>
                                    </div>
                                    <!-- <center><a href="mailto:tryposta@gmail.com"><h6>Click HERE to use your own email service 
                                                as well as for including attachments.
                                            </h6></a></center> -->
                                </div>
                            </p>
                            <br>

                        </div>
                        <div class="card-action">
                            <p>
                                <span class="cardHowText">
                                    <center></center>
                                </span>
                                <ul>
                                    <li>

                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>




            <!-- container end -->
        </div>



        <!-- Include the Partial for the bottom finishing the html -->
        <%- include('partials/bottom') -%>