
<!-- Indlude the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>

    <!-- different backgrounds on each of the pages -->
    <style type="text/css">
        body {
            background: url("/images/law.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            ;
            background-size: cover;
        }
    </style>

    <!-- finish off the header with these two tags -->
    </head>

    <body>

        <!-- menu and social icons block -->
        <div class="row icons">

            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
                <i class="material-icons medium" id="menuIcon">menu</i>
            </a>

            <div class="col-sm-3" id="socialBar">
                <a href="https://github.com/ayjaypnil" target="_blank">
                    <img class="socialIcon" src="/images/GitHub-Mark-Light-32px.png">
                </a>
                <a href="https://linkedin.com/in/aniljaypatel" target="_blank">
                    <img class="socialIcon" src="/images/In-White-34px-TM.png">
                </a>
            </div>
        </div>
        <!-- end menu and social icons block -->

        <div class="col-sm-4">
            <!-- including navbar partials -->
            <%- include('partials/navbar') -%>
        </div>

<!-- begin container -->
<div class="container">


<div class="row">
    <div class="sm-col-12">
        <div class="card lawCard z-depth-5">
            <div class="card-title">
                <span class="">
                    <center>
                        <strong><h4>Resume</h4></strong>
                    </center>
                </span>
            </div>
            <div>
                    <p>___________________</p>

                    <h5>The John Marshall Law School</h5>
                    <h6><em>Juris Doctor</em>,   2018</h6>

                    <h5>Northwestern University</h5>
                    <h6><em>Web Development & Software Engineering</em>,   2018</h6>
                    
                    <h5>Indiana University</h5>
                    <h6><em>Sport Marketing and Management (Major)</em>,   2015</h6>
                    <h6><em>Finance, Entrepreneurship, Marketing (Minors)</em>,   2015</h6>

                    <h5>Glenbard East High School</h5>
                    <h6><em>Lombard, IL</em> - Class of 2010</h6> 

                    <p>___________________</p>

                    <h5>Law Offices of Gemma B. Dixon</h5>
                    <h6>Chicago, IL</h6>
                    <h6><em>Law Clerk</em></h6>

                    <h5>Pro Bono Clinic at JMLS</h5>
                    <h6>Chicago, IL</h6>
                    <h6><em>IL Supreme Court Rule 711 Licensed Student Attorney</em></h6>
                    
                    <h5>ICM Partners</h5>
                    <h6>New York, New York</h6>
                    <h6><em>Global Branded Entertainment Intern</em></h6>

                    <h5>Verve Talent & Literary Agency</h5>
                    <h6>Los Angeles, CA</h6>
                    <h6><em>TV/Motion Picture Mailroom Intern</em></h6>

                    <h5>1984 Private Defense Contractors Productions</h5>
                    <h6>Los Angeles, CA</h6>
                    <h6><em>Motion Picture Production Intern</em></h6>

                    <h5>Sony Music Entertainment</h5>
                    <h6>Indianapolis, IN</h6>
                    <h6><em>'stache Media Rep</em></h6>

                    <p>___________________</p>
            </div>
        </div>
    </div>
</div>



<!-- container end -->
</div>



<!-- Include the Partial for the bottom finishing the html -->
<%- include('partials/bottom') -%>