<!-- Indlude the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>

<%- include('partials/navbar') -%>
    
    <!-- menu and social icons block -->
        <div class="row icons">

            <span id="openNav">
                <i class="material-icons medium" id="menuIcon">menu</i>
            </span>

            <div class="col-sm-3" id="socialBar">
                <a href="https://github.com/ayjaypnil" target="_blank">
                    <img class= "socialIcon" src="/images/GitHub-Mark-Light-32px.png">
                </a>
                <a href="https://linkedin.com/in/aniljaypatel" target="_blank">
                    <img class="socialIcon" src="/images/In-White-34px-TM.png">
                </a>
            </div>
        </div>
    <!-- end menu and social icons block -->

<!-- start container div -->
    <div class="container">

        <!-- buttons block -->
        <center>
            <div class="row btnBar">
                <div class="col-sm-6">
                    <a class="btn btn-large btnOpac"> < PORTFOLIO > </a>
                    <a class="btn btn-large btnOpac"> < / THOUGHTS > </a>
                </div>
            </div>
        </center>
        <!-- end buttons block -->


<!-- end container div -->
    </div>


<!-- Include the Partial for the bottom finishing the html -->
<%- include('partials/bottom') -%>
