<!-- Indlude the Partial for the header including all of the necessary links -->
<%- include('partials/header') -%>

    <!-- different backgrounds on each of the pages -->
    <style type="text/css">
        body {
            background: url("/images/forestnight.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover; 
        }
    </style>

    <!-- finish off the header with these two tags -->
    </head>

    <body>

        <!-- menu and social icons block -->
        <div class="row icons">

            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large">
                <i class="material-icons medium" id="menuIcon">menu</i>
            </a>

            <div class="col-sm-3" id="socialBar">
                <a href="https://github.com/ayjaypnil" target="_blank">
                    <img class="socialIcon" src="/images/GitHub-Mark-Light-32px.png">
                </a>
                <a href="https://linkedin.com/in/aniljaypatel" target="_blank">
                    <img class="socialIcon" src="/images/In-White-34px-TM.png">
                </a>
            </div>
        </div>
        <!-- end menu and social icons block -->

        <div class="col-sm-4">
            <!-- including navbar partials -->
            <%- include('partials/navbar') -%>
        </div>

        <!-- container begin -->
        <div class="container">

            <br>
            <br>
            <br>

            <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>Posta Technologies, Inc.</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">

                            <p>
                                <span class="cardWhatWhy">
                                    <strong>What + Why = </strong>
                                </span>
                                <p>On-Demand local mail. Posta enables users to send and receive things. It is currently geared
                                    towards consuler to consumer and business to business transactions. Real-time tracking,
                                    text message notifications, security code confirmations, and a seamless user experience
                                    make Posta the go-to for sending anything locally. We are excited about the possibilities
                                    of entering into new verticals as well as applying our solution in unique ways to optimize
                                    how we send and receive physical things.
                                </p>
                                <br>
                                <p>Why physically go to the post office or FedEx store to pay for the required packaging and
                                    fare to send something within your city when it needs to be there now, but won't get
                                    there for at least a few days? It doesn't make sense. Posta aims to solve this problem.
                                    A cost effective, time saving, and easy to use on-demand courier service. Posta's platform
                                    connects users with dedicated contractors to make this happen. Picture, the [rideshare/food
                                    delivery]
                                </p>

                                <br> Applications:
                                <ul>
                                    <li>-Send a textbook across campus to a buddy.</li>
                                    <li>-Borrow a toolset from your uncle a town over.</li>
                                    <li>-Your mom wants to ger her homecooking to you in the city from the burbs.</li>
                                    <li>-You need to send an urgent letter to your grandma.</li>
                                    <li>-A client needs to sign a set of documents ASAP.</li>
                                    <li>-Small business wants to send purchased product to a local customer.</li>
                                    <li>-You forgot your gym bag at home, and need it for after work.</li>
                                    <li>-Craigslist buyer or seller that doesn't want to meet face to face with the other person.</li>
                                    <li>-Your roommate forgot her keys, and can't get in the place.</li>
                                </ul>
                        </div>
                        <div class="card-action">
                            <a href="http://www.postatechnologies.com" target="_blank">
                                <i class="material-icons " id="menuIcon">grade</i>PostaTechnologies.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>Trend10</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">

                            <p>
                                <span class="cardWhatWhy">
                                    <strong>What + Why = </strong>
                                </span> There are many news aggregators out on the market, however, Trend10 offers a differentiating
                                point of aggregating from top sources due to features allowing the results to be viewable
                                by either category or by the actual source. The sleek, easy-to-use, and fun interface offer
                                a portal to which users can be fully immersed in the most relevant stories happening in the
                                world. Data is updated in real-time to reflect the most up-to-date news stories that are
                                trending. Trend10 was built with those on the go in mind, 10 minutes on Trend10 gives the
                                user the ability to intelligently engage in thought provoking discussion and obtain a heightened
                                awareness.
                            </p>
                            <br>
                            <p>
                                <span class="cardHowText">
                                    <strong>How: </strong>
                                </span> Trend10 was built with HTML5, CSS, Front-End Framework Bootstrap, jQuery, AJAX, Javascript
                                and deployed via github.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://ayjaypnil.github.io/trendten/" target="_blank">
                                <i class="material-icons " id="menuIcon">grade</i>Go To: TrendTen.org</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>ShowFlow</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">

                            <p>
                                <span class="cardWhatWhy">
                                    <strong>What + Why = </strong>
                                </span>This application is a social media platform built for TV fans of all kinds - users can see
                                what's popular within their network, see a live feed of activity by other users, add shows
                                to their watchlist and participate in a live chat room for each show. ShowFlow is the first
                                step to building a truly immersive platform to share and discover popular culture as well
                                as media with your network. There are many resources to see what you should watch, listen,
                                go see, or eat out there. However, the opinions of strangers can only hold so much weight.
                                It is the opinion of those you are truly connected with that are most beneficial to you.
                                For now, next time you are debating what you want to watch, get on ShowFlow and see what
                                is trending. In the future, this platform will provide a similar use case, but in many additional
                                verticals.
                            </p>
                            <br>
                            <p>
                                <span class="cardHowText">
                                    <strong>How: </strong>
                                </span> ShowFlow was built using the MERN stack. Mongo, Express, React, and Node were the prominent
                                technologies used. In addition, Javascript, ES6, HTML5, CSS, Front-End Framework Materialize,
                                jQuery, AJAX, and Axios were utilized to round out the robust nature of this product.
                                <br>
                                <span class="right">*Note: this Demo is best suited for desktop.</span>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="https://show-flow.herokuapp.com/home" target="_blank">
                                <i class="material-icons " id="menuIcon">grade</i>Live Demo</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>Northwestern University Coding Bootcamp Network</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">

                            <p>
                                <span class="cardWhatWhy">
                                    <strong>What + Why = </strong>
                                </span>The NU Coding Bootcamp Network was designed to connect all of the current past and future
                                alumni of the program. It allows registered users to create an account that will permit them
                                to see the current network, upcoming events, and posted jobs. This platform was built with
                                both alum and current students in mind. Connections as these foster further learning, development,
                                and relationships that fuel current students career trajectories as well as allow alumni
                                to reach out to mentor and interact.</p>
                            <br>
                            <p>
                                <span class="cardHowText">
                                    <strong>How: </strong>
                                </span> The NU Network was built using HTML5, CSS, Front-End Framework Materialize, jQuery, AJAX,
                                nodeJS, mySQL + WorkBench, expressJS, EJS, many other unique npm packages, github, and Heroku
                                for deployment.</p>
                        </div>
                        <div class="card-action">
                            <a href="https://northwestern-bc-network.herokuapp.com/" target="_blank">
                                <i class="material-icons " id="menuIcon">grade</i>Live Demo</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="sm-col-12">
                    <div class="card projectCard z-depth-5">
                        <div class="card-title">
                            <span class="cardTitleText">
                                <center>
                                    <strong>BarrSpecials.com</strong>
                                </center>
                            </span>
                        </div>
                        <div class="card-content white-text">

                            <p>
                                <span class="cardWhatWhy">
                                    <strong>What + Why = </strong>
                                </span> BarrSpecials.com is the one-stop webapp that allows users to see the bar and restaurant specials
                                for their selected location all presented in a chic format. BarrSpecials.com was created
                                to encourage those on a budget, either in a big city like Chicago or on college campuses,
                                such as in the Big 10, to get out and socialize without hurting the wallet.</p>
                            <br>
                            <p>
                                <span class="cardHowText">
                                    <strong>How: </strong>
                                </span> BarrSpecials.com was built on WordPress utilizing the Shortcodes, Content Blocks, Ninja Forms,
                                Responsive Tabs, Search Engine Visibility, and Contact widgets. </p>
                        </div>
                        <div class="card-action">
                            <a href="https://barrspecials.com" target="_blank">
                                <i class="material-icons " id="menuIcon">grade</i>Go To: BarrSpecials.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <br>







            <!-- container end -->
        </div>



        <!-- Include the Partial for the bottom finishing the html -->
        <%- include('partials/bottom') -%>
